/* this is for keyboard one */
.keyboard {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  border-radius: 16px;
  background-color: #d3d3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 600px;
  user-select: none;
}

.row {
  display: flex;
  gap: 3px;
}

.key {
  background-color: #f0f0f0;
  border: 1px solid #bbb;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  min-width: 35px;
  text-align: center;
  padding: 8px 5px;
  font-size: 10px;
  color: #333;
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.1s;
}

.keyHover {
  background-color: #e0e0e0;
  transform: translateY(-2px);
}

.keyHover {
  transform: translateY(2px);
}

.function-key {
  max-height: 30px;
  padding: 4px;
}

.eject-key {
  margin-left: 15px;
  padding: 4px 20px;
}

.delete-key {
  padding: 8px 20px;
}

.Tab,
.backslash-key,
.CapsLock,
.return-key {
  flex: 2;
}

.ShiftRight,
.ShiftLeft {
  flex: 3;
}

.Space {
  flex: 5;
  padding: 8px;
  min-width: 175px;
}

.command-key,
.AltLeft {
  min-width: 35px;
  padding: 2px;
  font-size: 16px;
}

.arrow-key {
  min-width: 30px;
}
